<form id="tagger-form">
  <input type="text" name="tagger-brand" placeholder="Brand" />
  <input type="text" name="tagger-product" placeholder="Product" />
  <input type="text" name="tagger-url" placeholder="URL" /><br /><br />
  <a id="tagger-tag" class="btn-success btn">Tag</a>
  <a id="tagger-cancel" class="btn">Cancel</a>
</form>