<div class="row">
  <div class="span8">
    <img id="tagger-image" src="/assets/jessica.jpg" />
  </div>
  <div id="tagger-form-container" class="span4">
  </div>
</div>

<div id="thumbs" class="row">
</div>